<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempmonitorHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TempmonitorHost.Properties.Settings>
            <setting name="AutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDisp1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDisp2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDisp3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDisp4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Disp1Data" serializeAs="String">
                <value>CPU temp</value>
            </setting>
            <setting name="Disp2Data" serializeAs="String">
                <value>CPU load</value>
            </setting>
            <setting name="Disp3Data" serializeAs="String">
                <value>GPU temp</value>
            </setting>
            <setting name="Disp4Data" serializeAs="String">
                <value>GPU load</value>
            </setting>
            <setting name="DispOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </TempmonitorHost.Properties.Settings>
    </userSettings>
</configuration>